.projectCard {
  width: 50%;
  display: flex;
  margin-left: 25%;
  margin-bottom: 20%;
  font-family: "Bebas Neue", cursive;
  font-size: 24px;
}

@media screen and (max-width: 649px) {
  .projectCard {
    font-size: 15px;
  }
}

.cardLink {
}

#videoTag {
  height: 100%;
  width: 100%;
  float: left;
  top: 0;
  padding: none;
  position: fixed; /* optional depending on what you want to do in your app */
  z-index: -1;
}
#name {
  position: absolute;
  top: 0%;
}

.skills {
  position: absolute;

  bottom: 0;
  right: 0%;
  display: flex;
  flex-wrap: wrap;
}
/* .logo {
  align-items: flex-end;
} */

.demoPage {
  background-color: aliceblue;
  margin-left: 300px;
}

.linklogo {
  position: relative;
}
/* contain */

#links {
  text-align: right;
}
#email {
  text-align: right;
}
/* // */
.about {
  font-size: 24px;
  position: relative;
  /* left: 35%;
  top: 50%;
  width: 500px;
  height: 100px; */
  /* margin-left: -100px; */
  font-family: "Bebas Neue", cursive;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  align-content: center;
  flex-wrap: wrap;
  margin: 50px;
  margin-bottom: 100px;
}
@media screen and (max-width: 535px) {
  .about {
    font-size: 18px;
  }
}
/* .extra {
  font-size: 24px;
  position: fixed;
  bottom: 0;
  left: 35%;
  top: 90%;
  font-family: "Bebas Neue", cursive;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  flex-wrap: nowrap;
} */

.form {
  position: relative;
  /* left: 35%; */
  /* top: 50%; */
  /* width: 500px;
  height: 100px;
  margin-left: -100px; */
  /* margin-top: 10px; */
  font-family: "Bebas Neue", cursive;
  font-size: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 535px) {
  .form {
    font-size: 30px;
  }
}
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 23.33%;
  padding: 15px;
  margin-left: 100px;
  margin-top: 50px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
/* ///////////////////////////////////////////// */

/* text animations /Home */
#typewriter {
  /* position: static; */
  /* margin-left: 500px; */
  /* margin-top: 250px; */
  font-family: "Press Start 2P", cursive;
  position: relative;
  /* left: 45%;
  top: 50%;
  width: 500px;
  height: 100px;
  margin-left: -100px; */
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.swapText {
  /* position: static; */
  /* margin-left: 500px; */
  /* margin-top: 250px; */
  font-family: "Press Start 2P", cursive;
  position: relative;
  /* left: 45%;
  top: 50%;
  width: 500px;
  height: 100px;
  margin-left: -100px;
  margin-top: 10px; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1px;
}
/* 
#inProgress {
  margin-left: 500px;
  font-family: "Press Start 2P", cursive;
  position: static;
  position: relative;
  left: 50%;
  top: 50%;
  width: 200px;
  height: 100px;
  margin-left: -100px;
  margin-top: 50px;
} */
/* /////////////////////////////////////////////////// */
/* .nav {
  display: flex;
  flex-wrap: wrap;
} */
.navigation {
  font-size: 20px;
  padding: 5px 4px;
  /* color: black; */
  /* height: 100vh; */
  text-decoration: none;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  font-family: "Press Start 2P", cursive;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;

  color: #202c2d;
  text-shadow: 0 1px #808d93, -1px 0 #cdd2d5, -1px 2px #808d93, -2px 1px #cdd2d5,
    -2px 3px #808d93, -3px 2px #cdd2d5, -3px 4px #808d93, -4px 3px #cdd2d5,
    -4px 5px #808d93, -5px 4px #cdd2d5, -5px 6px #808d93, -6px 5px #cdd2d5,
    -6px 7px #808d93, -7px 6px #cdd2d5, -7px 8px #808d93, -8px 7px #cdd2d5;
}
.navigation:hover {
  color: yellow;
  /* box-shadow: 1px 1px 30px 5px gold; */
  /* background-color: black; */
}
/* #06fcbe; */
/* rgb(7, 255, 193); */

/* page styles */
.page {
  /* position: absolute; */
  top: 100px;
  left: 0;
  right: 0;
}
.fade-appear,
.fade-enter {
  opacity: 0;
  z-index: 1;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms linear 150ms;
}
.fade-exit {
  opacity: 0; /* leave at 0 or you get an image lag when exiting*/
}
.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 150ms linear;
}

@media (min-width: 600px) {
}
