#head {
text-align: center;

}

 .App{
  background: url("background.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

  #links{
    text-align: right;
    }
    #email{
    text-align: right;
    }