.App {
  background: url("canvas.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* contain */

#links {
  text-align: right;
}
#email {
  text-align: right;
}

.test {
  text-align: center;
  /* background-color: aliceblue; */
}

#img {
  position: absolute;
  right: 0%;
}
